<div class="form-container">
    <form #passwordForm="ngForm" class="form-body">
        <label class="d-block mb-10">Enter a password of at least 8 characters: </label>
        <input ngModel name="password" minlength="8" [(ngModel)]="password" (ngModelChange)="onChange()" required>
        <div class="section-container">
            <span class="d-block" [ngClass]="firstSectionClass">Password must contain letter (A-Z)</span>
            <span class="d-block" [ngClass]="secondSectionClass">Password must contain number (0-9)</span>
            <span class="d-block" [ngClass]="thirdSectionClass">Password must contain special symbol (!@#$%^&*)</span>
        </div>
        <button [disabled]="!passwordForm.valid"
            [ngClass]="{'button-disabled': !passwordForm.valid, 'button-enabled': passwordForm.valid}">Submit</button>
    </form>
</div>