<div class="form-container">

    <form class="form-body" [formGroup]="passwordForm">

        <label for="password">Enter a password of at least 8 characters: </label>

        <app-custom-input id="password" formControlName="password" (ngModelChange)="onChange()"></app-custom-input>

        <app-help-text [firstSectionColor]="firstSectionColor" [secondSectionColor]="secondSectionColor"
            [thirdSectionColor]="thirdSectionColor"></app-help-text>

        <button [disabled]="!passwordForm.valid"
            [ngClass]="{'button-disabled': !passwordForm.valid, 'button-enabled': passwordForm.valid}">Submit</button>

    </form>
</div>